$welcome-title-color: #293439;
$create-link-color: #1f423b;
$section-border-color: #e3e6e7;
$button-color: #075796;
$button-color-hover: #217dc4;
$add-icon-color: #0b53ae;
$empty-list-color: #546269;
$list-item-background: #f5f5f5;
$form-title-color: #0b463b;
$input-border-color: #989898;

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  color: $welcome-title-color;
  margin: 0;
  padding: 0;
}

.welcome-section {

  .welcome-title {
    font-size: 3em;
    color: $welcome-title-color;
    font-weight: bold;
  }

  .img-container {
    color: red;
    padding: 0;

    img {
      width: 100%;
    }
  }

  .img-credit {
    padding-top: 1%;
    padding-right: 0.5%;
  }

}

.reading-area {
  padding: 0 20px;
  overflow-x: hidden;

  h1 {
    color: $welcome-title-color;
    border-bottom: 2px solid $welcome-title-color;
    margin-bottom: 20px;

  }

  .empty-list {
    color: $empty-list-color;
    font-style: italic;
    font-size: 1.2em;
  }

  .add-link {
    font-size: 1.2em;
    margin-left: .5em;
  }

  .add-icon {
    color: $add-icon-color;
  }

  .add-column {
    cursor: pointer;
  }

  .add-column > * {
    float: left;
  }

  ul.books-list {
    margin: 0;
    padding: 0;
  }

  .books-list li {
    font-size: 1.4em;
    padding: 5px;
    list-style-type: none;
    overflow: hidden;
    width: 91%;
  }

  .books-list li .edit-update-icon {
    visibility: hidden;
  }

  .books-list li:hover .edit-update-icon {
    visibility: visible;
    padding: 0;
    margin: 0;
  }

  .books-list li:hover {
    display: block;
  }

  .edit-update-icon {
    cursor: pointer;
  }

  .books-list :hover {
    background: $list-item-background;
  }

  .form-title {
    color: $form-title-color;
    font-size: 1.5em;
    text-decoration: underline;
    padding: 5px;
    margin-bottom: 5px;
  }

  .form-close-btn {
    cursor: pointer;
  }

  .input-row {
    margin: 0 15px;
  }

  .input-label {
    padding: 5px;
    font-size: .8em;
  }

  .input {
    border: 2px solid $input-border-color;
    border-radius: 0;
    width: 100%;
    padding: 4px;
    background: #fff;
    outline: none;
    font-size: .9em;
  }

  .form-btn {
    float: right;
    background: $button-color;
    padding: 3px 18px;
    font-size: .9em;
  }

  .form-btn:hover {
    background: $button-color-hover;
  }

}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 280px) and (max-width: 576px) {
  .welcome-section {
    .welcome-title {
      font-size: 2em;
    }

    .img-container {
      img {
        width: 100%;
        height: 120%;
      }
    }
    .img-credit {
      padding-right: 2px;
      padding-top: 8%;
      font-size: 10px;
    }
  }
  .reading-area {
    padding: 0 20px;
    overflow-x: hidden;

    h1 {
      color: $welcome-title-color;
      border-bottom: 2px solid $welcome-title-color;
      margin-bottom: 10px;
    }
    .empty-list {
      font-size: 1em;
    }
    .add-link {
      font-size: 1em;
      margin-left:0;
    }
    #a1{
      font-size:1.5em;
      margin: 0 0 5px 5px;
      width: 100%;
    }
    .books-list li {
      font-size: 1em;
      padding: 2px;
      list-style-type: none;
      overflow: hidden;
      width: 300px;
    }
    .books-list li .edit-update-icon {
      visibility: hidden;
    }
    .form-title {
      font-size: 1.2em;
    }
    .input-label {
      font-size: .9em;
    }
    .input {
      width: 120%;
      padding: 4px;
      font-size:1em;
    }

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .welcome-section {
    .welcome-title {
      font-size: 2.5em;
    }

    .img-container {
      img {
        width: 100%;
        height: 120%;
      }
    }
    .img-credit {
      padding-right: 2px;
      padding-top: 8%;
      font-size: 12px;
    }
  }
  .reading-area {

    h1 {
      color: $welcome-title-color;
      border-bottom: 2px solid $welcome-title-color;
      margin-bottom: 20px;
    }
    .empty-list {
      font-size: 1.1em;
    }
    .add-link {
      font-size: 1.1em;
    }
    #a1{
      font-size:1.7em;
      margin: 0 0 5px 5px;
      width: 100%;
    }
    .books-list li {
      font-size: 1.2em;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      width: 280px;
    }
    .books-list li .edit-update-icon {
      visibility: hidden;
    }
    .books-list li:hover .edit-update-icon {
      visibility: visible;
      padding:0;
      margin: 0;
    }
    .books-list li:hover {
      display: block;
    }
    .edit-update-icon {
      cursor: pointer;
    }
    .books-list :hover {
      background: $list-item-background;
    }
    .form-title {
      font-size: 1.2em;
    }
    .input-label {
      font-size: 1em;
    }
    .input {
      width: 120%;
      padding: 4px;
      font-size:1.1em;
    }

  }

}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .welcome-section {
    .welcome-title {
      font-size: 2.5em;
    }

    .img-credit {
      padding-right: 2px;
      padding-top: 1%;
      font-size: 16px;
    }
  }
}

