$welcome-title-color: #293439;
$create-link-color: #1f423b;
$section-border-color: #e3e6e7;
$button-color: #075796;
$button-color-hover: #217dc4;
$add-icon-color: #0b53ae;
$empty-list-color: #546269;
$list-item-background: #f5f5f5;
$form-title-color: #0b463b;
$input-border-color: #989898;

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  color: $welcome-title-color;
  margin: 0;
  padding: 0;
}

.welcome-section {

  .welcome-title {
    font-size: 3em;
    color: $welcome-title-color;
    font-weight: bold;
  }

  .img-container {
    color: red;
    padding: 0;

    img {
      width: 100%;
    }
  }

  .img-credit {
    padding-right: 100px;
  }

}

.reading-area {
  padding: 10px 20px;

  h1 {
    color: $welcome-title-color;
    border-bottom: 2px solid $welcome-title-color;
    margin-bottom: 20px;

  }

  .empty-list {
    color: $empty-list-color;
    font-style: italic;
    font-size: 1.2em;
  }

  .add-link {
    font-size: 1.2em;
    margin-left: .5em;
  }

  .add-icon {
    color: $add-icon-color;
  }

  .add-column {
    cursor: pointer;
  }

  .add-column > * {
    float: left;
  }

  ul.books-list {
    margin: 0;
    padding: 0;
  }

  .books-list li {
    font-size: 1.4em;
    padding: 5px;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
  }

  .books-list li .edit-update-icon {
    visibility: hidden;
  }

  .books-list li:hover .edit-update-icon {
    visibility: visible;
    padding: 0;
    margin: 0;
  }

  .books-list li:hover {
    display: block;
  }

  .edit-update-icon {
    cursor: pointer;
  }

  .books-list :hover {
    background: $list-item-background;
  }

  .form-title {
    color: $form-title-color;
    font-size: 1.5em;
    text-decoration: underline;
    padding: 5px;
    margin-bottom: 5px;
  }

  .form-close-btn {
    cursor: pointer;
  }

  .input-row {
    margin: 0 15px;
  }

  .input-label {
    padding: 5px;
    font-size: .8em;
  }

  .input {
    border: 2px solid $input-border-color;
    border-radius: 0;
    width: 100%;
    padding: 4px;
    background: #fff;
    outline: none;
    font-size: .9em;
  }

  .form-btn {
    float: right;
    background: $button-color;
    padding: 3px 18px;
    font-size: .9em;
  }

  .form-btn:hover {
    background: $button-color-hover;
  }

}